.page1{
}
.page2{
  background: blue;
}
.page{
  height: 100%;
}



body{
  background-size: 100%;
}

#master-container{
  background: none;
}



.A-NAVS{
  font-size: 18px;

  li{
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
    padding: 0px 20px;
    color: white;

    &:nth-child(3n+1){ background-color: rgba(0,230,0,0.4);} 
    &:nth-child(3n+2){ background-color: rgba(0,180,0,0.4);} 
    &:nth-child(3n+0){ background-color: rgba(0,150,0,0.4);} 

    .NAV-CONTENT{

    }
  }

};
